<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the ZeroHTTPd Guestbook!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .guest-entry {
            font-family: Georgia, Serif;
            font-size: 16px;
            background-color: #eeeeee;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1 class="display-4">Hello and welcome to Guestbook!</h1>
                    <p class="lead">Guestbook is a simple web app written on top of ZeroHTTPd, which is a educational web server to help
                        <a href="https://unixism.net">learn about Linux performance</a>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>What our guests are saying:</h3>
                $GUEST_REMARKS$
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h3>Say something nice:</h3>
                <form action="/guestbook" method="post">
                    <div class="form-group">
                        <label for="guest-remarks">Your remarks</label>
                        <textarea class="form-control" name="guest-remarks" id="guest-remarks" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="guest-name">Your name</label>
                        <input type="text" class="form-control" name="guest-name" id="guest-name" placeholder="Enter name">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
        </div>

        <p class="text-center mt-5 alert alert-warning font-weight-bold">You are visitor number $VISITOR_COUNT$</p>
    </div>

    <!-- Javascript required for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>